<h2> New part </h2>
<div class="row">
	<div class="span6 offset3">
<%= form_for(@part) do |f| %>
	<div class="field">
	    <%= f.hidden_field :project_id, :value => params[:project_id] %>

	    <%= f.label :part_name %>
	    <%= f.text_field :part_name, style: "height: 40px" %>

	    <%= f.label :part_size %>
	    <%= f.number_field :part_size, style: "height: 40px" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %><br>
	</div>
</div>