<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TeleCoach™" , root_path, id:"logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Projekt", root_path %></li>
          <% if current_user.nil? %>
            <li><%= link_to "Ny användare", signup_path %></li>
            <li><%= link_to "Logga in", signin_path %></li>
          <% else %>
            <li><%= link_to "<i class='icon-user icon-white'></i>".html_safe + current_user.username , current_user %></li>
            <li><%= link_to "Logga ut", signout_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>